* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #e7f2f4;
}

/* navbar section */

.navbar {
    background-color: #fff;
    box-shadow: 15px 2px 20px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 11rem;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav-logo {

    img {
        width: 170px;
    }
}

.navbar-link {
    display: flex;
    gap: 30px;

    a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #3D4F60;
    }
}

.nav-btn {
    display: flex;
    gap: 15px;

    .sign {
        padding: 20px 25px;
        border: 1px solid #122231;
        font-size: 16px;
        font-weight: 600;
        color: #122231;
        border-radius: 15px;
        background-color: transparent;
    }

    .create {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        padding: 20px;
        background-color: #122231;
        border: none;
        border-radius: 15px;
    }
}

.menu-icn {
    display: none;
    img {
    width: 30px;  
    }
}

/* hero section */

.hero {
    padding: 15rem 11rem 9rem 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-btn {
    display: flex;
    gap: 10px;
    background-color: #0089FF;
    padding: 10px 20px;
    width: max-content;
    color: #fff;
    border-radius: 10px;

    h2 {
        font-size: 16px;
        font-weight: 500;
    }

    img {
        width: 20px;
    }
}

.hero-text {
    display: grid;
    row-gap: 30px;
    width: 40%;

    h1 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
    }

    p {
        font-size: 20px;
        line-height: 32px;
        width: 85%;
    }
}

.hero-img {
    width: 50%;


    img {
        width: 100%;
        animation: floatUpDown 3s ease-in-out infinite;
    }
}

.hero-img-2 {
    display: none;
    width: 100%;


    img {
        width: 100%;
        animation: floatUpDown 3s ease-in-out infinite;
    }
}

  @keyframes floatUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  }

.hero-text-btn {
    display: flex;
    gap: 10px;

}

.btn {

    display: flex;
    align-items: center;
    background-color: #122231;
    width: 200px;
    border-radius: 14px;
    padding: 15px 20px;
    gap: 5px;

    h2 {
        font-size: 16px;
        color: #fff;
    }

    img {
        width: 30px;
    }
}


/* security section */

.security {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 11rem 8rem 11rem;
}

.security-text {
    display: grid;
    gap: 30px;


    h1 {
        font-size: 24px;
        font-weight: 700;
        color: rgb(18,34,49);
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: rgb(61, 79, 96);
        width: 65%;
        line-height: 27px;
    }
}

.security-text-icon {
    display: flex;
    gap: 15px;

    img {
        width: 17px;
        height: 17px;
    }

    h3 {
        font-size: 16px;
        color: #000;
        font-weight: 600;
    }
}

/* savings section */



.savings {
    padding: 0 16rem 5rem 16rem;
    display: grid;
    gap: 30px;
}

.savings-text {
    text-align: center;
    display: grid;
    gap: 15px;
    margin: 20px 0;

    h1 {
        font-size: 48px;
        font-weight: 700;
        color: rgb(18,34,49);
    }

    p {
        font-size: 23px;
        color: rgb(18,34,49);
    }
}

.savings-col {
    display: flex;
    justify-content: space-between;
    gap: 30px;
   
}

.row {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 445px;
    width:490px ;
    border-radius: 20px;
    padding: 30px;
}

.col-text {
    display: grid;
    gap: 20px;
    color: #fff;

    h1 {
        font-size: 36px;
        font-weight: 700;
    }

    p {
        font-size: 19px;
        font-weight: 400;
        line-height: 24px;
        width: 70%;
    }
}

.col-right,.col-left,
.col-right-2, .col-left-2, 
.col-right-3, .col-left-3  {
    position: relative;
}

.image-1, .image-2,
.image-21, .image-23,
.image-31, .image-32{
    img {
        position: absolute;
        width: 280px;
        bottom: 0;
        right: 20px;
    }
}

.col-link {
    display: flex;
    gap: 10px;
    margin-top: auto;
    color: #fff;

    img {
        width: 17px;
        height: 17px;
    }
}


.col-right {background-color: #0F60D6;}
.col-left {background-color: #2295F2;}
.col-right-2 {background-color: #39C277;} 
.col-left-2 {background-color: #E5489B;}
.col-right-3 {background-color: #0C1825;} 
.col-left-3 {background-color: #FF783C;}



/* media qurey */


@media (max-width: 900px) {

    /* hero section */

    .hero-img-2 {
        display: block;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .hero-img {
        display: none;
    }


    /* security section */

    .security {
        flex-direction: column;
        padding: 0 2rem 4rem 2rem;
        text-align: center;
    }

    .security-text {
        h1 {
            font-size: 22px;
        }

        p {
            font-size: 15px;
            width: 100%;
        }
    }

    .security-text-icon {
        justify-content: center;

        img {
            width: 15px;
            height: 15px;
        }

        h3 {
            font-size: 15px;
        }
    }


    /* savings section */

    .savings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0 2rem 4rem 2rem ;
        margin: 0 auto;
    }

    .savings-text {
        text-align: center;
        display: grid;
        gap: 10px;
        margin: 10px 0;
    
        h1 {
            font-size: 26px;
        }
    
        p {
            font-size: 14px;
        }
    }

    .savings-col {
        flex-direction: column;
    }

    .row {
        height: 445px;
        width:375px ;
        padding: 25px;
    }

    .col-text {
        display: grid;
        gap: 15px;
        color: #fff;
    
        h1 {
            font-size: 26px;
        }
    
        p {
            font-size: 14px;
        }
    }

    .image-1, .image-2,
    .image-21, .image-23,
    .image-31, .image-32{
    img {
        width: 200px;
        bottom: 0;
        right: 15px;
    }
}

    .col-link {
        gap: 8px;


        img {
            width: 14px;
            height: 14px;
        }

        p {
            font-size: 14px;
        }
    }
    










}










@media (max-width: 1320px) {
        /* navbar section */

        .menu-icn {
            display: flex;
        }
    
        .navbar-link, .nav-btn {
            display: none;
        }
    
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px ;
        }
    
    
        /* hero section */
    
        .hero {
            padding: 13rem 2rem 7rem 2rem; ;
            display: flex;
            justify-content: space-between;
            text-align: center;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 60px;
        }
    
        .top-btn {
            margin: 0 auto;
        
            h2 {
                font-size: 14px;
                font-weight: 500;
            }
        }
    
        .hero-text {
            width: 100%;
        
            p {
                font-size: 15px;
                line-height: 28px;
                width: 100%;
            }
        }
    
        .hero-img {
            width: 50%;
        
        
            img {
                width: 100%;
        }
    }
    
        .hero-text-btn {
            margin: 0 auto;
        }


        /* security section */

        .security-text {
    
            p {
                font-size: 15px;
                width: 100%;
            }
        }


        
    /* savings section */

        .savings {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:0 2rem 4rem 2rem ;
            margin: 0 auto;
        }

        .savings-text {
            text-align: center;
            display: grid;
            gap: 10px;
            margin: 10px 0;
        
            h1 {
                font-size: 40px;
            }
        
            p {
                font-size: 16px;
            }
        }

        .savings-col {
            /* flex-direction: column; */
        }

        .row {
            height: 445px;
            width:375px ;
            padding: 25px;
        }

        .col-text {
            display: grid;
            gap: 15px;
            color: #fff;
        
            h1 {
                font-size: 26px;
            }
        
            p {
                font-size: 14px;
            }
        }

        .image-1, .image-2,
        .image-21, .image-23,
        .image-31, .image-32{
        img {
            width: 200px;
            bottom: 0;
            right: 15px;
        }
    }

        .col-link {
            gap: 8px;


            img {
                width: 14px;
                height: 14px;
            }

            p {
                font-size: 14px;
            }
        }
        



}